# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/ecg-dnn.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
data/raw
data/annotations
.idea/copyright/
.idea/git_toolbox_prj.xml
__pycache__/
data/__pycache__/
model/__pycache__/
model/logs/
